<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.alitajs.capacitorandroid">

  <application android:networkSecurityConfig="@xml/network_security_config">
    <activity android:name=".AlitaJsActivity" />
  </application>

</manifest>
